@media print {
    .main-footer{
        display: none;
    }
    body{
        font-size: 12pt;
    }
    /* table.paging thead td, table.paging tfoot td {
        height: .5in;
    }
    header {
        position: fixed;
        top: 0;
    } */
}

@page {
    size: auto;
    margin: 0;
}
    